In [343]:
import pandas as pd
import numpy as np
import xarray as xr
from scipy.interpolate import interp1d, griddata, NearestNDInterpolator
import numpy as np
import time
import matplotlib.pyplot as plt

In [ ]:
## Loading the historical data.
1. Th#ese are the observations of temperature that we have that date back to 1939 that we want to reconstruct

In [346]:
df = pd.read_excel(r"2. MasterWinterOutputTables_v2.xlsx",
 sheet_name="3-WinterOutput-60rs")
# Concat other datasets here if neccessary
concat_data = df

In [ ]:
# Loading a list of NIWA stations to identify the coordinates
#1. These are not clear or provided in the spreadhse

In [271]:
stations_list = pd.read_table(r"station_list.txt")
stations_list

,Agent,Network,Start_Date,End_Date,Percent_Complete,Name,Lat(dec_deg),Long(dec_deg)
0,6202,L05300,8-Oct-85,5-Mar-20,50,Base Jubany,-62.233,-58.633
1,6207,L06600,26-Feb-99,5-Mar-20,40,Gen San Martin,-68.133,-67.133
2,5952,J56800,1-Jan-81,4-Mar-20,80,"Vanuatu,Aneityum",-20.233,169.767
3,5948,J55500,1-Jan-81,4-Mar-20,80,"Vanuatu,Lamap",-16.417,167.800
4,5946,J55100,1-Jan-81,4-Mar-20,80,"Vanuatu,Sola",-13.850,167.550
...,...,...,...,...,...,...,...,...
3672,4717,H31662,01-Aug-1888,28-Feb-1898,80,"Methven,Drayton",-43.600,171.617
3673,2622,D15133,01-Nov-1883,31-Oct-1888,80,Featherston,-41.117,175.333
3674,3389,E14276,01-Nov-1868,31-Oct-1869,100,"Wellington, Bowen St",-41.283,174.783
3675,3383,E14270,01-Feb-1862,31-Oct-1868,100,"Wellington, Knowles Observatory",-41.283,174.783
3676,22645,I50850,01-Nov-1852,31-Jul-1864,100,"Dunedin, Princes Street",-45.867,170.500

In [223]:
# Reference times to load the data for
times = pd.date_range("1939-01-01", periods=500, freq ='1D')
dset_temp = pd.DataFrame(index = times)
dset_pressure = pd.DataFrame(index = times)
# Looping through the networks and extracting data
networks = concat_data['File name'].unique()
# Creatin temporary dataframes to store the data

In [295]:

site_metadata = {}
for site in networks:
    # Looping through
    subset = concat_data[concat_data['File name'] == site]
    subset.index = pd.to_datetime(subset['Date'])
    # subsetting the data from here
    # get the coordsinates
    # Finding the minmim temperature
    temp = subset['Min temp (oF)']
    temp = temp[(temp> -999) & (temp <100)]
    # Filtering values outside of the expected bounds

    pressure = subset['Barometer corrected']
    pressure = pressure[(pressure > -999) & (pressure < 1040)]
    # Applying a similar check for pressure
    pressure[(pressure>25.4)& (pressure< 31.0)] = pressure[(pressure>25.4)& (pressure< 31.0)] * 33.86
    # Discharding invalid values outside of the expected range - and converting to hPa
    pressure = pressure[pressure > 960]
    if (pressure.mean() < 998)|(len(pressure.dropna())< 30):
        pressure =[]
    # Tests for average pressure
    agent = stations_list[stations_list.Network == site].Agent
    print(stations_list[stations_list.Network == site])
    if len(agent) >0:
        site_metadata[site] ={}
        site_metadata[site]['lat'] = stations_list[stations_list.Network == site]['Lat(dec_deg)'].values[0]
        site_metadata[site]['lon'] = stations_list[stations_list.Network == site]['Long(dec_deg)'].values[0]
        # Saving the metadata also
        if len(temp)>0:
            #print(temp)
            dset_temp[site] = temp
        if len(pressure)>0:
            dset_pressure[site] = pressure

      Agent Network   Start_Date   End_Date  Percent_Complete  \
1436   1427  A64871  01-Jan-1863  28-Feb-94               100

                       Name  Lat(dec_deg)  Long(dec_deg)
1436  Auckland, Albert Park       -36.853        174.767
      Agent Network Start_Date   End_Date  Percent_Complete  \
2942   1005  A42581   1-Jul-31  30-Sep-73                90

                       Name  Lat(dec_deg)  Long(dec_deg)
2942  Te Paki Stn, Te Hapua       -34.508        172.795
      Agent Network Start_Date   End_Date  Percent_Complete        Name  \
2926   1085  A53291  13-Feb-45  31-Dec-73               100  Kerikeri 1

      Lat(dec_deg)  Long(dec_deg)
2926        -35.23        173.948
      Agent Network Start_Date   End_Date  Percent_Complete              Name  \
2210   1405  A64751   1-Apr-28  31-Mar-87               100  Riverhead Forest

      Lat(dec_deg)  Long(dec_deg)
2210       -36.766        174.579
Empty DataFrame
Columns: [Agent, Network, Start_Date, End_Date, Percent_Complete, Name, Lat(dec_deg), Long(dec_deg)]
Index: []
      Agent Network Start_Date   End_Date  Percent_Complete       Name  \
3444   1533  B75181   1-Aug-32  31-Aug-52               100  Wharekawa

      Lat(dec_deg)  Long(dec_deg)
3444       -37.172        175.853
      Agent Network   Start_Date   End_Date  Percent_Complete   Name  \
1703   1550  B75381  01-Oct-1898  31-Dec-89               100  Waihi

      Lat(dec_deg)  Long(dec_deg)
1703       -37.394        175.841
      Agent Network Start_Date   End_Date  Percent_Complete      Name  \
1218   1565  B75571   1-Nov-07  31-Oct-99               100  Te Aroha

      Lat(dec_deg)  Long(dec_deg)
1218       -37.547        175.716
     Agent Network Start_Date   End_Date  Percent_Complete           Name  \
595   1612  B76621   1-Jan-10  31-Aug-18                80  Tauranga Aero

     Lat(dec_deg)  Long(dec_deg)
595     -37.67242      176.19635
      Agent Network Start_Date   End_Date  Percent_Complete            Name  \
1848   1662  B76951   1-Jan-38  30-Jun-88               100  Rotoehu Forest

      Lat(dec_deg)  Long(dec_deg)
1848       -37.904        176.508
      Agent Network   Start_Date   End_Date  Percent_Complete           Name  \
2558   1765  B86124  01-Jan-1899  31-Jan-82               100  Whakarewarewa

      Lat(dec_deg)  Long(dec_deg)
2558       -38.164        176.263
Empty DataFrame
Columns: [Agent, Network, Start_Date, End_Date, Percent_Complete, Name, Lat(dec_deg), Long(dec_deg)]
Index: []
      Agent Network Start_Date   End_Date  Percent_Complete  \
1019   2101  C75731   1-Jan-07  30-Sep-05                90

                   Name  Lat(dec_deg)  Long(dec_deg)
1019  Hamilton, Ruakura        -37.78        175.313
Empty DataFrame
Columns: [Agent, Network, Start_Date, End_Date, Percent_Complete, Name, Lat(dec_deg), Long(dec_deg)]
Index: []
      Agent Network   Start_Date   End_Date  Percent_Complete          Name  \
2931   2276  C94001  01-May-1862  31-Dec-73                90  New Plymouth

      Lat(dec_deg)  Long(dec_deg)
2931       -39.071        174.082
      Agent Network Start_Date   End_Date  Percent_Complete  \
2508   2363  C95251   1-Jun-40  28-Feb-83               100

                      Name  Lat(dec_deg)  Long(dec_deg)
2508  Mt Ruapehu,Chateau 1       -39.202         175.54
      Agent Network Start_Date   End_Date  Percent_Complete  \
2549   2385  D05481   1-Oct-27  31-Mar-82               100

                    Name  Lat(dec_deg)  Long(dec_deg)
2549  Pahiatua,Mangamutu       -40.455        175.811
      Agent Network   Start_Date   End_Date  Percent_Complete  \
3538   2469  D05960  01-Jan-1884  30-Nov-42                90

                    Name  Lat(dec_deg)  Long(dec_deg)
3538  Masterton,Essex St       -40.967         175.65
      Agent Network Start_Date   End_Date  Percent_Complete           Name  \
1500   2807  D87692   1-May-37  28-Feb-93               100  Gisborne Aero

      Lat(dec_deg)  Long(dec_deg)
1500       -38.661        177.986
      Agent Network Start_Date   End_Date  Percent_Complete  \
1635   2832  D87811   1-Jun-35  30-Jun-90               100

                      Name  Lat(dec_deg)  Long(dec_deg)
1635  Waikaremoana Onepoto       -38.801        177.122
     Agent Network   Start_Date   End_Date  Percent_Complete  \
677   2997  D96591  01-Jan-1870  29-Feb-16                90

                 Name  Lat(dec_deg)  Long(dec_deg)
677  Napier Nelson Pk     -39.49846      176.91189
      Agent Network Start_Date   End_Date  Percent_Complete      Name  \
3224   3018  D96681   1-Jan-28  31-Aug-66               100  Hastings

      Lat(dec_deg)  Long(dec_deg)
3224       -39.633        176.845
Empty DataFrame
Columns: [Agent, Network, Start_Date, End_Date, Percent_Complete, Name, Lat(dec_deg), Long(dec_deg)]
Index: []
     Agent Network Start_Date   End_Date  Percent_Complete           Name  \
546   3144  E04891   1-Jan-61  31-Oct-19                90  Kapiti Island

     Lat(dec_deg)  Long(dec_deg)
546     -40.85463      174.93163
Empty DataFrame
Columns: [Agent, Network, Start_Date, End_Date, Percent_Complete, Name, Lat(dec_deg), Long(dec_deg)]
Index: []
Empty DataFrame
Columns: [Agent, Network, Start_Date, End_Date, Percent_Complete, Name, Lat(dec_deg), Long(dec_deg)]
Index: []
      Agent Network Start_Date   End_Date  Percent_Complete          Name  \
1168   3238  E05363   1-Apr-28  31-May-01               100  Palmerston N

      Lat(dec_deg)  Long(dec_deg)
1168       -40.382        175.609
      Agent Network Start_Date   End_Date  Percent_Complete  \
1012   3385  E14272   3-Dec-27  31-Oct-05               100

                     Name  Lat(dec_deg)  Long(dec_deg)
1012  Wellington, Kelburn       -41.286        174.767
      Agent Network Start_Date   End_Date  Percent_Complete      Name  \
2206   3623  E95451   1-Oct-27  31-Mar-87               100  Karioi 2

      Lat(dec_deg)  Long(dec_deg)
2206       -39.476        175.514
      Agent Network Start_Date   End_Date  Percent_Complete          Name  \
3081   3669  E95681   1-Jan-12  30-Apr-71               100  Taihape,Hiwi

      Lat(dec_deg)  Long(dec_deg)
3081       -39.663        175.841
     Agent Network Start_Date  End_Date  Percent_Complete  \
157   3715  E95902   1-May-37  4-Mar-20               100

                            Name  Lat(dec_deg)  Long(dec_deg)
157  Wanganui,Spriggens Park Ews     -39.93704      175.04509
Empty DataFrame
Columns: [Agent, Network, Start_Date, End_Date, Percent_Complete, Name, Lat(dec_deg), Long(dec_deg)]
Index: []
      Agent Network   Start_Date   End_Date  Percent_Complete           Name  \
3522   3907  F20791  01-Mar-1866  31-Jan-46                80  Hokitika Town

      Lat(dec_deg)  Long(dec_deg)
3522       -42.722        170.963
      Agent Network Start_Date   End_Date  Percent_Complete         Name  \
3485   4082  F38961   1-Jan-38  30-Sep-49               100  Jackson Bay

      Lat(dec_deg)  Long(dec_deg)
3485       -43.983        168.617
     Agent Network Start_Date  End_Date  Percent_Complete           Name  \
547   4107  F47691   1-Dec-29  9-Oct-19               100  Milford Sound

     Lat(dec_deg)  Long(dec_deg)
547     -44.67384      167.92406
      Agent Network Start_Date   End_Date  Percent_Complete           Name  \
3401   4158  G12092   1-Jan-44  31-Jan-56               100  Nelson,Riwaka

      Lat(dec_deg)  Long(dec_deg)
3401       -41.067        172.983
      Agent Network Start_Date   End_Date  Percent_Complete  \
2635   4196  G12581   1-Apr-29  31-Mar-80               100

                     Name  Lat(dec_deg)  Long(dec_deg)
2635  Golden Downs Forest       -41.548        172.883
      Agent Network Start_Date   End_Date  Percent_Complete     Name  \
1317   4239  G13211   1-Jan-32  12-Dec-96               100  Appleby

      Lat(dec_deg)  Long(dec_deg)
1317       -41.293        173.099
      Agent Network   Start_Date   End_Date  Percent_Complete    Name  \
3455   4244  G13231  01-Jul-1862  31-Dec-51                90  Nelson

      Lat(dec_deg)  Long(dec_deg)
3455       -41.275        173.295
      Agent Network Start_Date   End_Date  Percent_Complete      Name  \
2358   4331  G13592   1-Apr-27  31-Aug-85               100  Blenheim

      Lat(dec_deg)  Long(dec_deg)
2358       -41.511        173.954
      Agent Network Start_Date   End_Date  Percent_Complete  \
2301   4344  G13651   1-Jan-31  31-May-86               100

                    Name  Lat(dec_deg)  Long(dec_deg)
2301  Waihopai Power Stn       -41.665        173.575
      Agent Network Start_Date   End_Date  Percent_Complete           Name  \
1387   4458  G22581   1-Nov-05  31-Mar-95               100  Hanmer Forest

      Lat(dec_deg)  Long(dec_deg)
1387       -42.522        172.854
      Agent Network Start_Date   End_Date  Percent_Complete      Name  \
3482   4531  H22862   9-Jul-27  31-Dec-49               100  Balmoral

      Lat(dec_deg)  Long(dec_deg)
3482       -42.833        172.683
      Agent Network Start_Date   End_Date  Percent_Complete            Name  \
1158   4670  H31352   1-Sep-13  31-Aug-01               100  Lake Coleridge

      Lat(dec_deg)  Long(dec_deg)
1158       -43.365        171.529
      Agent Network Start_Date   End_Date  Percent_Complete      Name  \
3389   4694  H31562  19-Jun-09  31-Dec-56               100  Rudstone

      Lat(dec_deg)  Long(dec_deg)
3389       -43.545        171.699
     Agent Network Start_Date   End_Date  Percent_Complete               Name  \
541   4778  H31971   1-Jan-27  31-Oct-19               100  Ashburton Council

     Lat(dec_deg)  Long(dec_deg)
541     -43.89658       171.7472
     Agent Network Start_Date   End_Date  Percent_Complete      Name  \
715   4836  H32412   1-Nov-19  31-Mar-15               100  Darfield

     Lat(dec_deg)  Long(dec_deg)
715       -43.493        172.137
      Agent Network Start_Date   End_Date  Percent_Complete         Name  \
3168   4849  H32552   1-Sep-37  31-Mar-69               100  Wigram Aero

      Lat(dec_deg)  Long(dec_deg)
3168       -43.549        172.544
     Agent Network   Start_Date   End_Date  Percent_Complete  \
450   4858  H32561  01-Jan-1873  31-Jan-20                90

                     Name  Lat(dec_deg)  Long(dec_deg)
450  Christchurch Gardens       -43.531        172.619
      Agent Network   Start_Date   End_Date  Percent_Complete     Name  \
1881   4881  H32641  01-Jan-1881  31-Dec-87               100  Lincoln

      Lat(dec_deg)  Long(dec_deg)
1881       -43.648        172.463
     Agent Network Start_Date  End_Date  Percent_Complete  \
794   4928  H32791   1-Jan-34  4-Jan-13               100

                      Name  Lat(dec_deg)  Long(dec_deg)
794  Onawe Duvauchelle Bay       -43.762        172.925
     Agent Network Start_Date   End_Date  Percent_Complete  \
336   4970  H40041   1-May-25  31-Jan-20               100

                         Name  Lat(dec_deg)  Long(dec_deg)
336  Lake Tekapo, Air Safaris       -44.002        170.441
      Agent Network Start_Date   End_Date  Percent_Complete     Name  \
2717   4991  H40182   1-Sep-11  31-Jul-78                80  Fairlie

      Lat(dec_deg)  Long(dec_deg)
2717       -44.105        170.824
      Agent Network   Start_Date   End_Date  Percent_Complete            Name  \
2351   5092  H41421  18-May-1881  30-Nov-85                90  Timaru Gardens

      Lat(dec_deg)  Long(dec_deg)
2351       -44.411         171.25
     Agent Network   Start_Date   End_Date  Percent_Complete     Name  \
932   5102  H41701  03-Jan-1898  30-Nov-08               100  Waimate

     Lat(dec_deg)  Long(dec_deg)
932       -44.741        171.036
      Agent Network Start_Date   End_Date  Percent_Complete        Name  \
3223   5297  I50212   1-Jan-25  30-Sep-66               100  Waipiata 2

      Lat(dec_deg)  Long(dec_deg)
3223       -45.239        170.145
      Agent Network Start_Date   End_Date  Percent_Complete          Name  \
1113   5355  I50771   1-Apr-35  14-Nov-02               100  Taiaroa Head

      Lat(dec_deg)  Long(dec_deg)
1113       -45.777        170.728
     Agent Network Start_Date   End_Date  Percent_Complete  \
294   5375  I50852   1-Jan-13  31-Jan-20               100

                     Name  Lat(dec_deg)  Long(dec_deg)
294  Dunedin, Btl Gardens        -45.86        170.522
     Agent Network   Start_Date   End_Date  Percent_Complete        Name  \
401   5446  I58061  01-Jan-1890  31-Jan-20               100  Queenstown

     Lat(dec_deg)  Long(dec_deg)
401     -45.03476      168.66364
     Agent Network Start_Date   End_Date  Percent_Complete     Name  \
460   5544  I59161   1-Apr-24  31-Jan-20                90  Ophir 2

     Lat(dec_deg)  Long(dec_deg)
460     -45.10611      169.61056
      Agent Network Start_Date   End_Date  Percent_Complete         Name  \
2478   5576  I59234   1-Jan-22  30-Sep-83               100  Alexandra 1

      Lat(dec_deg)  Long(dec_deg)
2478       -45.258        169.389
      Agent Network Start_Date   End_Date  Percent_Complete           Name  \
2599   5608  I59361   1-Mar-13  28-Feb-81                80  Manorburn Dam

      Lat(dec_deg)  Long(dec_deg)
2599       -45.363        169.606
      Agent Network Start_Date   End_Date  Percent_Complete       Name  \
3236   5759  I68093   1-Jan-07  30-Nov-65               100  East Gore

      Lat(dec_deg)  Long(dec_deg)
3236        -46.09        168.954

In [255]:
datasets = pd.DataFrame(site_metadata)
datasets.to_csv('Site_coordsinates.csv')
# Determining sites o finterest

In [ ]:
sites = (dset_temp.isna().sum() < 480) #& (dset_pressure.isna().sum() < 350)
temps = dset_temp[sites[sites == True].index]
#pressure = dset_pressure[sites[sites == True].index]

# Regridding the site data using nearest neightbour interpolation

In [338]:
sites = pd.read_csv('Site_coordsinates.csv', index_col=0)
# Loading the sites
# using the sites that are within the north island
sites = sites[['A64871', 'A42581', 'A53291', 'A64751', 'B75181', 'B75381', 'B75571',
       'B76621', 'B76951', 'B86124', 'C75731', 'C94001', 'C95251', 'D05481',
       'D05960', 'D87692', 'D87811', 'D96591', 'D96681', 'E04891', 'E05363',
       'E14272', 'E95451', 'E95681', 'E95902', 'F20791', 'F38961', 'F47691',
       'G12092', 'G12581', 'G13211', 'G13231', 'G13592', 'G13651', 'G22581',
       'H22862', 'H31352', 'H31562', 'H31971', 'H32412', 'H32552', 'H32561',
       'H32641', 'H32791', 'H40041', 'H40182', 'H41421', 'H41701', 'I50212',
       'I50852', 'I58061', 'I59161', 'I59234', 'I59361', 'I68093']]
sites = sites.T[(sites.T.lat >-40.7) & (sites.T.lon> 173.5)].T
temps[sites.columns].dropna()

,A64871,A53291,A64751,B75181,B75381,B75571,B76621,B76951,B86124,C75731,...,C95251,D05481,D87692,D87811,D96591,D96681,E05363,E95451,E95681,E95902
1939-06-01,45.0,45.8,30.0,39.0,34.0,40.5,40.0,35.7,34.4,30.2,...,33.2,37.0,43.3,39.9,41.8,39.0,40.0,31.1,40.0,42.0
1939-06-02,47.6,43.4,32.0,35.8,31.5,45.0,40.5,31.3,32.7,30.8,...,26.8,29.0,41.5,37.8,39.5,35.4,32.6,24.1,34.0,38.2
1939-06-03,44.0,39.5,29.7,46.3,38.5,36.0,41.8,36.1,32.0,27.6,...,28.6,37.6,38.3,38.8,36.5,32.0,42.0,25.8,34.2,42.0
1939-06-04,49.4,48.0,37.5,37.0,36.0,35.0,39.5,32.2,30.8,30.0,...,33.6,33.4,37.4,38.5,40.3,37.2,40.0,24.5,35.6,42.8
1939-06-06,57.3,57.2,48.5,51.5,46.0,48.0,52.0,51.0,47.8,49.6,...,33.4,53.0,52.7,49.5,46.8,47.0,46.2,47.5,49.2,54.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1939-08-23,51.2,52.0,43.0,38.8,40.0,43.0,45.5,41.5,40.3,45.1,...,31.4,37.0,36.2,39.5,41.0,38.6,43.9,30.5,40.0,53.0
1939-08-24,48.0,42.7,35.0,37.0,43.5,46.0,43.0,37.4,40.9,40.0,...,32.7,45.0,42.5,44.0,46.0,37.6,47.2,39.1,40.2,43.5
1939-08-25,50.8,47.2,43.0,50.0,51.0,43.0,50.5,49.2,45.1,50.2,...,32.8,37.6,46.4,41.2,46.0,44.2,49.5,37.9,45.0,47.0
1939-08-27,47.5,43.9,41.2,49.0,44.5,45.5,43.5,40.9,38.0,42.4,...,34.2,44.0,41.0,42.2,45.4,41.4,50.0,38.5,41.0,46.6
1939-08-28,48.0,45.5,39.0,40.5,43.0,41.5,38.8,36.1,34.2,40.0,...,35.1,36.6,36.3,37.1,40.0,39.0,40.0,31.0,38.0,43.9

In [339]:
# creating an xarray dataset, and gridding using a unfguc
d ={}
d['time'] = (('time'), temps[sites.columns].dropna().index)
d['z'] = (('z'), np.arange(len(sites.columns)))
d['data'] =(('time','z'), temps[sites.columns].dropna().values)
dset = xr.Dataset(d)

## Finding the nearest coordinates in the 2d dataset to our sites

In [340]:
df2 = xr.open_dataset(r"C:\Users\rampaln\OneDrive - NIWA\Desktop\week-it-snowed-everywhere\data\highresolution_northland_temperature_data.nc")
df21 = df2.reindex(time1 = df2.time1.to_index().sort_values())

sites = pd.read_csv('Site_coordsinates.csv', index_col=0)
sites = sites[['A64871', 'A42581', 'A53291', 'A64751', 'B75181', 'B75381', 'B75571',
       'B76621', 'B76951', 'B86124', 'C75731', 'C94001', 'C95251', 'D05481',
       'D05960', 'D87692', 'D87811', 'D96591', 'D96681', 'E04891', 'E05363',
       'E14272', 'E95451', 'E95681', 'E95902', 'F20791', 'F38961', 'F47691',
       'G12092', 'G12581', 'G13211', 'G13231', 'G13592', 'G13651', 'G22581',
       'H22862', 'H31352', 'H31562', 'H31971', 'H32412', 'H32552', 'H32561',
       'H32641', 'H32791', 'H40041', 'H40182', 'H41421', 'H41701', 'I50212',
       'I50852', 'I58061', 'I59161', 'I59234', 'I59361', 'I68093']]
sites = sites.T[(sites.T.lat >-40.7) & (sites.T.lon> 173.5)].T
coords = sites.values.T
# Discarding too far south


# writing a function to find the nearest coordinates
def min_nearest_coords(lat, lon):
    dist = ((lats - lat)**2 + (lons - lon)**2)
    return np.where(dist == dist.min())


df22 = df21.isel(rlat = slice(25,416+25), rlon = slice(30,256 +30))
subset = df22
lats, lons = df22.latitude.values, df22.longitude.values
coords_in_arr = np.array([min_nearest_coords(*coord) for coord in coords])[:,:,0]
# finds the correct coordinates in the array

In [337]:
coords_in_arr

array([[275,  73],
       [397,  28],
       [282,  62],
       [249, 137],
       [232, 135],
       [221, 127],
       [211, 155],
       [193, 172],
       [174, 157],
       [205, 103],
       [112,  28],
       [ 99, 112],
       [  6, 123],
       [132, 255],
       [124, 204],
       [ 74, 189],
       [ 64, 185],
       [ 12, 112],
       [ 79, 109],
       [ 65, 127],
       [ 46,  81]], dtype=int64)

# Interpolating using nearest neightbour interpolation in parallel

In [341]:
def merge_data(x, pts =[416,256]):
    print("merging")
    xi, yi = np.meshgrid(np.arange(pts[1]), np.arange(pts[0]))
    interp = NearestNDInterpolator(list(coords_in_arr), x.astype('int8'))
    return interp(xi, yi).astype('int8')
# Using nearest neigbour interpolation to initialize the outputs


train_set = xr.apply_ufunc(merge_data, dset,
                           input_core_dims=[["z"]],
                           output_core_dims=[["x","y"]],
                           vectorize=True, dask='parallelized')

merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging
merging

In [353]:
train_set['data'].to_netcdf('the_week_it_snowed_gridded.nc')